.main__header {
    width: 100vw;
    height: calc(100vh - 3rem);
    display: grid;
    place-items: center;
    margin-top: 3rem;
}

.main__header-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;
}

.main__header-left {
    margin-top: -3rem;
}

.main__header-left h4 {
    margin-bottom: 1rem;
    color: var(--color-secondary);
    font-weight: 400;
}

.main__header-left p {
    margin: 1rem 0 3.5rem;
    font-size: 1.1rem;
}

.main__header-right {
    display: grid;
    place-items: center;
    position: relative;
}

.main__header-circle {
    width: 40rem;
    height: 40rem;
    background: linear-gradient(75deg, var(--color-primary), transparent);
    border-radius: 50%;
    position: absolute;
    transition: var(--transition);
}

.main__header-image {
    position: relative;
    width: 25rem;
}

.main__header-right:hover .main__header-circle {
    filter: blur(15px);
}

/* Pages Redirect */

.pagesdirect {
    margin-top: 4rem;
}

.pages__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin-top: 4rem;
}

.pages__page a {
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pages_page:hover a {
    background: var(--color-secondary);
    color: var(--color-gray-600);
}

/* FAQ */

.faqs__wrapper {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem 5rem;
    align-items: flex-start;
}

.faq {
    background: var(--color-primary);
    padding: 2rem;
    border-radius: 1rem;
    cursor: pointer;
}

.faq div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq__icon {
    background: transparent;
    color: var(--color-gray-100);
    font-size: 1.5rem;
}

.faq p {
    margin-top: 1.5rem;
}

/* Leads */

.leads {
    width: 50rem;
    margin-inline: auto;
}

.leads__head {
    justify-content: center;
}

.card.lead {
    position: relative;
    text-align: left;
    margin-top: 5rem;
}

.lead__avatar {
    background: var(--color-fadedred);
    width: 4rem;
    height: 4rem;
    border-radius: 1.5rem;
    border: 2px solid transparent;
    overflow: hidden;
    position: absolute;
    top: -2rem;
    left: calc(50% - 2rem);
    box-shadow: 0 1.5rem 2rem rgba(26, 26, 54, 0.4);
    transition: var(--transition);
}

.lead:hover .lead__avatar {
    border-radius: 50%;
    border-color: var(--color-darkgrey);
    background: var(--color-grey);
}

.lead__quote {
    font-style: italic;
    margin: 1rem 0 2rem;
}

.card small.lead title {
    margin-top: 0.3rem;
}

.leads__btn-container {
    width: fit-content;
    margin: 2.5rem auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.leads__btn {
    background: transparent;
    cursor: pointer;
}

.leads__btn svg {
    fill: var(--color-primary);
    font-size: 1.8rem;
    width: 3rem;
    height: 3rem;
}

/* Footer */

footer {
    background: var(--color-darkgrey);
    margin-top: 7rem;
    padding-top: 7rem;
    font-size: 0.9rem;
    color: var(--color-white);
}

.footer__container {
    display: grid;
    grid-template-columns: 26rem 1fr 1fr;
    gap: 6rem;
}

.footer__container article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.7rem;
}

.footer__container article p {
    margin-top: 0.5rem;
}

.footer__container article h4 {
    margin-bottom: 0.6rem;
    font-size: 1rem;
}

.footer__socials {
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.footer__socials a {
    background: var(--color-grey);
    padding: 0.7rem;
    border: 1px solid transparent;
    border-radius: 0.6rem;
    transition: var(--transition);
}

.footer__socials a svg {
    color: var(--color-secondary)
}

.footer__socials a:hover {
    border-color: var(--color-fadedred);
    background: var(--color-fadedred);
}

.footer__copyright {
    color: var(--color-grey);
    text-align: center;
    padding: 1.5rem 0;
    border-top: 2px solid var(--color-secondary);
    margin-top: 5rem;
}



@media screen and (max-width: 1024px) {
    .main__header {
        height: fit-content;
        padding: 12rem 0;
    }

    .main__header-container {
        gap: 0;
    }

    .main__header-circle {
        width: 30rem;
        height: 30rem;
    }

    .main__header-image {
        width: 20rem;
        height: 20rem;
    }

    .programs__wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .faqs__wrapper {
        grid-template-columns: 1fr;
    }

    .footer__container {
        grid-template-columns: 1fr;
        gap: 4rem;
    }
}

/* Media Queries for Smaller Screens */

@media screen and (max-width: 600px) {

    .main__header {
        margin-top: 0;
        padding: 12rem 0 0;
        height: 100vh;
    }

    .main__header-image, .main__header-circle {
        display: none;
    }

    .main__header-container {
        grid-template-columns: 1fr;
    }

    .pages__wrapper {
        grid-template-columns: 1fr;
        gap: 2rem;
        margin-top: 3rem;
    }

    .pages__page {
        width: 84%;
        margin: 0 auto;
    }

    .faqs__wrapper {
        gap: 1rem;
        margin-top: 3rem;
    }

    footer {
        margin-top: 7rem;
    }

    .footer__container {
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    .footer__container article {
        align-items: center;
    }

    .footer__container article p {
        text-align: center;
    }
}