.chip {
  font-size: 0.7rem;
  background: linear-gradient(to right, var(--color-fadedred), var(--color-primary));
  color: #fff;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  width: fit-content;
  text-transform: capitalize;
}
